@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.UI
@using IranMarketer.App.Component.Model
@using IranMarketer.Domain.DTO
@using IranMarketer.Domain.DTO.Setting
@using IranMarketer.Domain.Entity
@model IranMarketer.Domain.DTO.BankDeposit
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "سایر تنظیمات و هزینه ها";
}


<div class="k-rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">سایر تنظیمات و هزینه ها</h5>
                </div>
                <div class="panel-body">
                    
                    @{
                        Html.RenderPartial("_AllOtherSetting", new AllOtherExpenses
                        {
                            ClubMembershipCostSetting = new IranMarketer.Domain.DTO.ClubMembershipCostSetting(),
                            EstablishmentCostSetting = new IranMarketer.Domain.DTO.EstablishmentCostSetting(),
                            FundSettlementCostSetting = new IranMarketer.Domain.DTO.FundSettlementCostSetting(),
                            OtherExpensesMaxSetting = new OtherExpensesMaxSetting(),
                            SoftwareAndAccessCostSetting = new IranMarketer.Domain.DTO.SoftwareAndAccessCostSetting(),
                            GAMCostSetting = new IranMarketer.Domain.DTO.GAMCostSetting()
                        });
                    }
                </div>
            </div>
        </div>
    </div>
</div>
