@*<div class="navbar navbar-default navbar-fixed-bottom footer">
    <ul class="nav navbar-nav visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
    </ul>
    <div class="navbar-collapse collapse" id="footer">
        <div class="navbar-text">
            &copy; 2017. <a href="http://www.sahra-soft.com/" class="navbar-link">ره پویان پردازش گستر صحرا</a> <a href="" class="navbar-link" target="_blank"></a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="#">درباره</a></li>
                <li><a href="#">قوانین</a></li>
                <li><a href="#">ارتباط</a></li>
            </ul>
        </div>
    </div>
</div>*@


<!-- Second navbar -->
<div class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav navbar-nav no-border visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second"><i class="icon-circle-up2"></i></a></li>
    </ul>
    <div class="navbar-collapse collapse" id="navbar-second">
        @*<p class="navbar-text"><i class="icon-user-check position-left"></i> Signed in as <a href="#" class="navbar-link">Victoria</a></p>*@
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-share4"></i>
                    <span class="visible-xs-inline-block position-right">Share</span>
                    <span class="caret"></span>
                </a>
                @*<ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-dribbble3"></i> Dribbble</a></li>
                    <li><a href="#"><i class="icon-pinterest2"></i> Pinterest</a></li>
                    <li><a href="#"><i class="icon-github"></i> Github</a></li>
                    <li><a href="#"><i class="icon-stackoverflow"></i> Stack Overflow</a></li>
                </ul>*@
            </li>
        </ul>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="#">Help center</a></li>
                <li><a href="#">Policy</a></li>
                <li><a href="#" class="text-semibold"><i class="glyphicon glyphicon-chevron-up" style="color: #000"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-cog3"></i>
                        <span class="visible-xs-inline-block position-right">Settings</span>
                        <span class="caret"></span>
                    </a>
                    @*<ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="icon-dribbble3"></i> Dribbble</a></li>
                        <li><a href="#"><i class="icon-pinterest2"></i> Pinterest</a></li>
                        <li><a href="#"><i class="icon-github"></i> Github</a></li>
                        <li><a href="#"><i class="icon-stackoverflow"></i> Stack Overflow</a></li>
                    </ul>*@
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /second navbar -->
