<form role="form" id="TseBondfeesettingform" novalidate class="form-horizontal form-validate-jquery" action="#" method="POST">
    <table id="TseBondfeesetting" class="tblBuySell" cellpadding="3" width="90%">
        <tr class="cssGridHeaderFirst">
            <td rowspan="2">
                شرح کارمزد
            </td>
            <td colspan="3">
                خرید
            </td>
            <td colspan="3">
                فروش
            </td>
        </tr>
        <tr class="cssGridHeaderFirst">
            <td>
                کارمزد
            </td>
            <td>
                حداکثر مبلغ کارمزد
            </td>
            <td>
                تخفیف (درصد)
            </td>

            <td>
                کارمزد
            </td>
            <td>
                حداکثر مبلغ کارمزد
            </td>
            <td>
                تخفیف (درصد)
            </td>
        </tr>
        <tr>
            <td>
                کارمزد کارگزاری
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondBrokerBuyFee" data-bind="value: TseBondBrokerBuyFee" name="TseBondBrokerBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondMaxBrokerBuyFee" data-bind="value: TseBondMaxBrokerBuyFee" name="TseBondMaxBrokerBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondBrokerBuyFeeDiscount" data-bind="value: TseBondBrokerBuyFeeDiscount" name="TseBondBrokerBuyFeeDiscount">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondBrokerSellFee" data-bind="value: TseBondBrokerSellFee" name="TseBondBrokerSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondMaxBrokerSellFee" data-bind="value: TseBondMaxBrokerSellFee" name="TseBondMaxBrokerSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondBrokerSellFeeDiscount" data-bind="value: TseBondBrokerSellFeeDiscount" name="TseBondBrokerSellFeeDiscount">
            </td>
        </tr>
        <tr>
            <td>
                کارمزد بورس
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondSeoBuyFee" data-bind="value: TseBondSeoBuyFee" name="TseBondSeoBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondMaxSeoBuyFee" data-bind="value: TseBondMaxSeoBuyFee" name="TseBondMaxSeoBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondSeoBuyFeeDiscount" data-bind="value: TseBondSeoBuyFeeDiscount" name="TseBondSeoBuyFeeDiscount">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondSeoSellFee" data-bind="value: TseBondSeoSellFee" name="TseBondSeoSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondMaxSeoSellFee" data-bind="value: TseBondMaxSeoSellFee" name="TseBondMaxSeoSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondSeoSellFeeDiscount" data-bind="value: TseBondSeoSellFeeDiscount" name="TseBondSeoSellFeeDiscount">
            </td>
        </tr>
        <tr>
            <td>
                کارمزد سپرده گذاری
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondCsdBuyFee" data-bind="value: TseBondCsdBuyFee" name="TseBondCsdBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondMaxCsdBuyFee" data-bind="value: TseBondMaxCsdBuyFee" name="TseBondMaxCsdBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondCsdBuyFeeDiscount" data-bind="value: TseBondCsdBuyFeeDiscount" name="TseBondCsdBuyFeeDiscount">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondCsdSellFee" data-bind="value: TseBondCsdSellFee" name="TseBondCsdSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondMaxCsdSellFee" data-bind="value: TseBondMaxCsdSellFee" name="TseBondMaxCsdSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondCsdSellFeeDiscount" data-bind="value: TseBondCsdSellFeeDiscount" name="TseBondCsdSellFeeDiscount">
            </td>

        </tr>
        <tr>
            <td>
                کارمزد مدیریت فن آوری
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondTseTmcBuyFee" data-bind="value: TseBondTseTmcBuyFee" name="TseBondTseTmcBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondMaxTseTmcBuyFee" data-bind="value: TseBondMaxTseTmcBuyFee" name="TseBondMaxTseTmcBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondTseTmcBuyDiscount" data-bind="value: TseBondTseTmcBuyDiscount" name="TseBondTseTmcBuyDiscount">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondTseTmcSellFee" data-bind="value: TseBondTseTmcSellFee" name="TseBondTseTmcSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondMaxTseTmcSellFee" data-bind="value: TseBondMaxTseTmcSellFee" name="TseBondMaxTseTmcSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondTseTmcSellDiscount" data-bind="value: TseBondTseTmcSellDiscount" name="TseBondTseTmcSellDiscount">
            </td>
        </tr>
        <tr>
            <td>
                حق نظارت سازمان
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondTseBuyFee" data-bind="value: TseBondTseBuyFee" name="TseBondTseBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondMaxTseBuyFee" data-bind="value: TseBondMaxTseBuyFee" name="TseBondMaxTseBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondTseBuyFeeDiscount" data-bind="value: TseBondTseBuyFeeDiscount" name="TseBondTseBuyFeeDiscount">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondTseSellFee" data-bind="value: TseBondTseSellFee" name="TseBondTseSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondMaxTseSellFee" data-bind="value: TseBondMaxTseSellFee" name="TseBondMaxTseSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondTseSellFeeDiscount" data-bind="value: TseBondTseSellFeeDiscount" name="TseBondTseSellFeeDiscount">
            </td>
        </tr>
        <tr>
            <td>
                مالیات
            </td>
            <td>
                &nbsp;

            </td>
            <td>
                &nbsp;

            </td>
            <td>
                &nbsp;

            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseBondSellTax" data-bind="value: TseBondSellTax" name="TseBondSellTax">
            </td>
            <td>
                &nbsp;

            </td>
            <td>
                &nbsp;
            </td>
        </tr>

        <tr style="font-weight: bold; background-color: Yellow">
            <td style="white-space: nowrap">
                <b>جمع</b>
            </td>
            <td style="text-align: right">
                <label id="TseBondSumBuyFee">
                    .
                </label>
            </td>
            <td style="text-align: right">
                <label id="TseBondSumMaxBuyFee">
                    .
                </label>
            </td>
            <td style="text-align: right">
                <label id="TseBondSumBuyDiscount">
                    .
                </label>
            </td>
            <td style="text-align: right">
                <label id="TseBondSumSellFee">
                    .
                </label>
            </td>
            <td style="text-align: right">
                <label id="TseBondsumSellMaxFee">
                    .
                </label>
            </td>
            <td style="text-align: right">
                <label id="TseBondSumSellDiscount">
                    .
                </label>
            </td>
        </tr>
    </table>
    <div class="text-right">
        <button type="button" id="TseBondsaveSettingBtn" class="btn btn-primary legitRipple">ذخیره <i class="icon-arrow-left13 position-right"></i></button>
    </div>
</form>

<style>
    .cssGridHeaderFirst {
        background-color: #4caf50;
        color: #fff;
    }

    .tblBuySell {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }

    .tblBuySell td {
        text-align: center;
    }

    .cssGridHeaderFirst td {
        color: #fff;
    }

    .tr td {
        padding: 3px !important;
    }

    td, th {
        padding: 3px !important;
    }
</style>

<script>
    $("#TseBondsaveSettingBtn").click(function() {

        if (!$("#TseBondfeesettingform").valid()) {
            return;
        } else {

            var data = {
                "BrokerBuyFee": SetValueFloatNumber($('#TseBondBrokerBuyFee').val()),
                "MaxBrokerBuyFee": $('#TseBondMaxBrokerBuyFee').val(),
                "BrokerBuyFeeDiscount": SetValueFloatNumber($('#TseBondBrokerBuyFeeDiscount').val()),
                "BrokerSellFee": SetValueFloatNumber($('#TseBondBrokerSellFee').val()),
                "MaxBrokerSellFee": $('#TseBondMaxBrokerSellFee').val(),
                "BrokerSellFeeDiscount": SetValueFloatNumber($('#TseBondBrokerSellFeeDiscount').val()),

                "SeoBuyFee": SetValueFloatNumber($('#TseBondSeoBuyFee').val()),
                "MaxSeoBuyFee": $('#TseBondMaxSeoBuyFee').val(),
                "SeoBuyFeeDiscount": SetValueFloatNumber($('#TseBondSeoBuyFeeDiscount').val()),
                "SeoSellFee": SetValueFloatNumber($('#TseBondSeoSellFee').val()),
                "MaxSeoSellFee": $('#TseBondMaxSeoSellFee').val(),
                "SeoSellFeeDiscount": SetValueFloatNumber($('#TseBondSeoSellFeeDiscount').val()),

                "CsdBuyFee": SetValueFloatNumber($('#TseBondCsdBuyFee').val()),
                "MaxCsdBuyFee": $('#TseBondMaxCsdBuyFee').val(),
                "CsdBuyFeeDiscount": SetValueFloatNumber($('#TseBondCsdBuyFeeDiscount').val()),
                "CsdSellFee": SetValueFloatNumber($('#TseBondCsdSellFee').val()),
                "MaxCsdSellFee": $('#TseBondMaxCsdSellFee').val(),
                "CsdSellFeeDiscount": SetValueFloatNumber($('#TseBondCsdSellFeeDiscount').val()),

                "TseTmcBuyFee": SetValueFloatNumber($('#TseBondTseTmcBuyFee').val()),
                "MaxTseTmcBuyFee": $('#TseBondMaxTseTmcBuyFee').val(),
                "TseTmcBuyDiscount": SetValueFloatNumber($('#TseBondTseTmcBuyDiscount').val()),
                "TseTmcSellFee": SetValueFloatNumber($('#TseBondTseTmcSellFee').val()),
                "MaxTseTmcSellFee": $('#TseBondMaxTseTmcSellFee').val(),
                "TseTmcSellDiscount": SetValueFloatNumber($('#TseBondTseTmcSellDiscount').val()),

                "TseBuyFee": SetValueFloatNumber($('#TseBondTseBuyFee').val()),
                "MaxTseBuyFee": $('#TseBondMaxTseBuyFee').val(),
                "TseBuyFeeDiscount": SetValueFloatNumber($('#TseBondTseBuyFeeDiscount').val()),
                "TseSellFee": SetValueFloatNumber($('#TseBondTseSellFee').val()),
                "MaxTseSellFee": $('#TseBondMaxTseSellFee').val(),
                "TseSellFeeDiscount": SetValueFloatNumber($('#TseBondTseSellFeeDiscount').val()),

                "SellTax": SetValueFloatNumber($('#TseBondSellTax').val())
            };


            $.ajax({
                url: '@Url.Action("SaveSetting", "TseBondFeeSetting")',
                type: "POST",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                401: function() {
                    var url = '@Url.Action("Login", "Account")';
                    window.location.href = url;
                },
                error: function(response) {

                    showNotification(response.Message, 'e');
                },

                success: function(response) {

                    if (response != null && response.BRuleCode == '1000') {
                        showNotification(response.Message, 's');
                        $(':input', '#form')
                            .not(':button, :submit, :reset, :hidden')
                            .val('')
                            .removeAttr('checked')
                            .removeAttr('selected');

                        $('#grid').data('kendoGrid').dataSource.read();

                    } else {
                        showNotification(response.Message, 'e');
                    }
                }
            });
        }
    });


    function TseBondgetSumSymbolTradeSettingList() {

        $('#TseBondSumBuyFee').html(
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseBondBrokerBuyFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseBondSeoBuyFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseBondCsdBuyFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseBondTseTmcBuyFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseBondTseBuyFee').val()).replace(",", "")));

        $('#TseBondSumBuyFee').html(SetValueFloatNumber($('#TseBondSumBuyFee').html()).toFixed(7));

        $('#TseBondSumSellFee').html(
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseBondBrokerSellFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseBondSeoSellFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseBondCsdSellFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseBondTseTmcSellFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseBondTseSellFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseBondSellTax').val()).replace(",", "")));

        $('#TseBondSumSellFee').html(SetValueFloatNumber($('#TseBondSumSellFee').html()).toFixed(7));


      
    }
    document.onload = TseBondgetSumSymbolTradeSettingList();

    $(document).ready(function () {
        //$('input:text').each(function() {
        //    $(this).html(NullCheckerSTSLOMFB($(this).html()));
        //});



        $.ajax({
            url: '@Url.Action("GetLastSetting", "TseBondFeeSetting")',
            type: "POST",
            dataType: "json",
            //data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            401: function() {
                var url = '@Url.Action("Login", "Account")';
                window.location.href = url;
            },
            error: function(response) {

                showNotification(response.Message, 'e');
            },

            success: function(response) {

                if (response != null && response.BRuleCode == '1000') {
                    showNotification(response.Message, 's');
                    $(':input', '#form')
                        .not(':button, :submit, :reset, :hidden')
                        .val('')
                        .removeAttr('checked')
                        .removeAttr('selected');

                } else {

                    $('#TseBondBrokerBuyFee').val(response.BrokerBuyFee);
                    $('#TseBondMaxBrokerBuyFee').val(addcommas2(response.MaxBrokerBuyFee));
                    $('#TseBondBrokerBuyFeeDiscount').val(response.BrokerBuyFeeDiscount);
                    $('#TseBondBrokerSellFee').val(response.BrokerSellFee);
                    $('#TseBondMaxBrokerSellFee').val(addcommas2(response.MaxBrokerSellFee));
                    $('#TseBondBrokerSellFeeDiscount').val(response.BrokerSellFeeDiscount);

                    $('#TseBondSeoBuyFee').val(response.SeoBuyFee);
                    $('#TseBondMaxSeoBuyFee').val(addcommas2(response.MaxSeoBuyFee));
                    $('#TseBondSeoBuyFeeDiscount').val(response.SeoBuyFeeDiscount);
                    $('#TseBondSeoSellFee').val(response.SeoSellFee);
                    $('#TseBondMaxSeoSellFee').val(addcommas2(response.MaxSeoSellFee));
                    $('#TseBondSeoSellFeeDiscount').val(response.SeoSellFeeDiscount);

                    $('#TseBondCsdBuyFee').val(response.CsdBuyFee);
                    $('#TseBondMaxCsdBuyFee').val(addcommas2(response.MaxCsdBuyFee));
                    $('#TseBondCsdBuyFeeDiscount').val(response.CsdBuyFeeDiscount);
                    $('#TseBondCsdSellFee').val(response.CsdSellFee);
                    $('#TseBondMaxCsdSellFee').val(addcommas2(response.MaxCsdSellFee));
                    $('#TseBondCsdSellFeeDiscount').val(response.CsdSellFeeDiscount);

                    $('#TseBondTseTmcBuyFee').val(response.TseTmcBuyFee);
                    $('#TseBondMaxTseTmcBuyFee').val(addcommas2(response.MaxTseTmcBuyFee));
                    $('#TseBondTseTmcBuyDiscount').val(response.TseTmcBuyDiscount);
                    $('#TseBondTseTmcSellFee').val(response.TseTmcSellFee);
                    $('#TseBondMaxTseTmcSellFee').val(addcommas2(response.MaxTseTmcSellFee));
                    $('#TseBondTseTmcSellDiscount').val(response.TseTmcSellDiscount);


                    $('#TseBondTseBuyFee').val(response.TseBuyFee);
                    $('#TseBondMaxTseBuyFee').val(addcommas2(response.MaxTseBuyFee));
                    $('#TseBondTseBuyFeeDiscount').val(response.TseBuyFeeDiscount);
                    $('#TseBondTseSellFee').val(response.TseSellFee);
                    $('#TseBondMaxTseSellFee').val(addcommas2(response.MaxTseSellFee));
                    $('#TseBondTseSellFeeDiscount').val(response.TseSellFeeDiscount);

                    $('#TseBondSellTax').val(response.SellTax);

                    TseBondgetSumSymbolTradeSettingList();
                }
            }


        });

        $('input').keyup(function (e) {
            TseBondgetSumSymbolTradeSettingList();
            e.stopPropagation();
        });
    });
</script>