<form role="form" id="tseequityfeesettingform" novalidate class="form-horizontal form-validate-jquery" action="#" method="POST">
    <table id="tseequityfeesetting" class="tblBuySell" cellpadding="3" width="90%">
        <tr class="cssGridHeaderFirst">
            <td rowspan="2">
                شرح کارمزد
            </td>
            <td colspan="3">
                خرید
            </td>
            <td colspan="3">
                فروش
            </td>
        </tr>
        <tr class="cssGridHeaderFirst">
            <td>
                کارمزد
            </td>
            <td>
                حداکثر مبلغ کارمزد
            </td>
            <td>
                تخفیف (درصد)
            </td>

            <td>
                کارمزد
            </td>
            <td>
                حداکثر مبلغ کارمزد
            </td>
            <td>
                تخفیف (درصد)
            </td>
        </tr>
        <tr>
            <td>
                کارمزد کارگزاری
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityBrokerBuyFee" data-bind="value: TseEquityBrokerBuyFee" name="TseEquityBrokerBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityMaxBrokerBuyFee" data-bind="value: TseEquityMaxBrokerBuyFee" name="TseEquityMaxBrokerBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityBrokerBuyFeeDiscount" data-bind="value: TseEquityBrokerBuyFeeDiscount" name="TseEquityBrokerBuyFeeDiscount">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityBrokerSellFee" data-bind="value: TseEquityBrokerSellFee" name="TseEquityBrokerSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityMaxBrokerSellFee" data-bind="value: TseEquityMaxBrokerSellFee" name="TseEquityMaxBrokerSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityBrokerSellFeeDiscount" data-bind="value: TseEquityBrokerSellFeeDiscount" name="TseEquityBrokerSellFeeDiscount">
            </td>
        </tr>
        <tr>
            <td>
                کارمزد بورس
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquitySeoBuyFee" data-bind="value: TseEquitySeoBuyFee" name="TseEquitySeoBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityMaxSeoBuyFee" data-bind="value: TseEquityMaxSeoBuyFee" name="TseEquityMaxSeoBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquitySeoBuyFeeDiscount" data-bind="value: TseEquitySeoBuyFeeDiscount" name="TseEquitySeoBuyFeeDiscount">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquitySeoSellFee" data-bind="value: TseEquitySeoSellFee" name="TseEquitySeoSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityMaxSeoSellFee" data-bind="value: TseEquityMaxSeoSellFee" name="TseEquityMaxSeoSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquitySeoSellFeeDiscount" data-bind="value: TseEquitySeoSellFeeDiscount" name="TseEquitySeoSellFeeDiscount">
            </td>
        </tr>
        <tr>
            <td>
                کارمزد سپرده گذاری
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityCsdBuyFee" data-bind="value: TseEquityCsdBuyFee" name="TseEquityCsdBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityMaxCsdBuyFee" data-bind="value: TseEquityMaxCsdBuyFee" name="TseEquityMaxCsdBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityCsdBuyFeeDiscount" data-bind="value: TseEquityCsdBuyFeeDiscount" name="TseEquityCsdBuyFeeDiscount">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityCsdSellFee" data-bind="value: TseEquityCsdSellFee" name="TseEquityCsdSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityMaxCsdSellFee" data-bind="value: TseEquityMaxCsdSellFee" name="TseEquityMaxCsdSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityCsdSellFeeDiscount" data-bind="value: TseEquityCsdSellFeeDiscount" name="TseEquityCsdSellFeeDiscount">
            </td>

        </tr>
        <tr>
            <td>
                کارمزد مدیریت فن آوری
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityTseTmcBuyFee" data-bind="value: TseEquityTseTmcBuyFee" name="TseEquityTseTmcBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityMaxTseTmcBuyFee" data-bind="value: TseEquityMaxTseTmcBuyFee" name="TseEquityMaxTseTmcBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityTseTmcBuyDiscount" data-bind="value: TseEquityTseTmcBuyDiscount" name="TseEquityTseTmcBuyDiscount">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityTseTmcSellFee" data-bind="value: TseEquityTseTmcSellFee" name="TseEquityTseTmcSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityMaxTseTmcSellFee" data-bind="value: TseEquityMaxTseTmcSellFee" name="TseEquityMaxTseTmcSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityTseTmcSellDiscount" data-bind="value: TseEquityTseTmcSellDiscount" name="TseEquityTseTmcSellDiscount">
            </td>
        </tr>
        <tr>
            <td>
                حق نظارت سازمان
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityTseBuyFee" data-bind="value: TseEquityTseBuyFee" name="TseEquityTseBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityMaxTseBuyFee" data-bind="value: TseEquityMaxTseBuyFee" name="TseEquityMaxTseBuyFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityTseBuyFeeDiscount" data-bind="value: TseEquityTseBuyFeeDiscount" name="TseEquityTseBuyFeeDiscount">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityTseSellFee" data-bind="value: TseEquityTseSellFee" name="TseEquityTseSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityMaxTseSellFee" data-bind="value: TseEquityMaxTseSellFee" name="TseEquityMaxTseSellFee">
            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquityTseSellFeeDiscount" data-bind="value: TseEquityTseSellFeeDiscount" name="TseEquityTseSellFeeDiscount">
            </td>
        </tr>
        <tr>
            <td>
                مالیات
            </td>
            <td>
                &nbsp;

            </td>
            <td>
                &nbsp;

            </td>
            <td>
                &nbsp;

            </td>
            <td>
                <input class="form-control" onkeyup="SetMoney(event,this)" type="text" id="TseEquitySellTax" data-bind="value: TseEquitySellTax" name="TseEquitySellTax">
            </td>
            <td>
                &nbsp;

            </td>
            <td>
                &nbsp;
            </td>
        </tr>

        <tr style="font-weight: bold; background-color: Yellow">
            <td style="white-space: nowrap">
                <b>جمع</b>
            </td>
            <td style="text-align: right">
                <label id="TseEquitySumBuyFee">
                    .
                </label>
            </td>
            <td style="text-align: right">
                <label id="TseEquitySumMaxBuyFee">
                    .
                </label>
            </td>
            <td style="text-align: right">
                <label id="TseEquitySumBuyDiscount">
                    .
                </label>
            </td>
            <td style="text-align: right">
                <label id="TseEquitySumSellFee">
                    .
                </label>
            </td>
            <td style="text-align: right">
                <label id="TseEquitysumSellMaxFee">
                    .
                </label>
            </td>
            <td style="text-align: right">
                <label id="TseEquitySumSellDiscount">
                    .
                </label>
            </td>
        </tr>
    </table>
    <div class="text-right">
        <button type="button" id="TseEquitysaveSettingBtn" class="btn btn-primary legitRipple">ذخیره <i class="icon-arrow-left13 position-right"></i></button>
    </div>
</form>

<style>
    .cssGridHeaderFirst {
        background-color: #4caf50;
        color: #fff;
    }

    .tblBuySell {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }

    .tblBuySell td {
        text-align: center;
    }

    .cssGridHeaderFirst td {
        color: #fff;
    }

    .tr td {
        padding: 3px !important;
    }

    td, th {
        padding: 3px !important;
    }
</style>

<script>
    $("#TseEquitysaveSettingBtn").click(function() {

        if (!$("#tseequityfeesettingform").valid()) {
            return;
        } else {

            var data = {
                "BrokerBuyFee": SetValueFloatNumber($('#TseEquityBrokerBuyFee').val()),
                "MaxBrokerBuyFee": $('#TseEquityMaxBrokerBuyFee').val(),
                "BrokerBuyFeeDiscount": SetValueFloatNumber($('#TseEquityBrokerBuyFeeDiscount').val()),
                "BrokerSellFee": SetValueFloatNumber($('#TseEquityBrokerSellFee').val()),
                "MaxBrokerSellFee": $('#TseEquityMaxBrokerSellFee').val(),
                "BrokerSellFeeDiscount": SetValueFloatNumber($('#TseEquityBrokerSellFeeDiscount').val()),

                "SeoBuyFee": SetValueFloatNumber($('#TseEquitySeoBuyFee').val()),
                "MaxSeoBuyFee": $('#TseEquityMaxSeoBuyFee').val(),
                "SeoBuyFeeDiscount": SetValueFloatNumber($('#TseEquitySeoBuyFeeDiscount').val()),
                "SeoSellFee": SetValueFloatNumber($('#TseEquitySeoSellFee').val()),
                "MaxSeoSellFee": $('#TseEquityMaxSeoSellFee').val(),
                "SeoSellFeeDiscount": SetValueFloatNumber($('#TseEquitySeoSellFeeDiscount').val()),

                "CsdBuyFee": SetValueFloatNumber($('#TseEquityCsdBuyFee').val()),
                "MaxCsdBuyFee": $('#TseEquityMaxCsdBuyFee').val(),
                "CsdBuyFeeDiscount": SetValueFloatNumber($('#TseEquityCsdBuyFeeDiscount').val()),
                "CsdSellFee": SetValueFloatNumber($('#TseEquityCsdSellFee').val()),
                "MaxCsdSellFee": $('#TseEquityMaxCsdSellFee').val(),
                "CsdSellFeeDiscount": SetValueFloatNumber($('#TseEquityCsdSellFeeDiscount').val()),

                "TseTmcBuyFee": SetValueFloatNumber($('#TseEquityTseTmcBuyFee').val()),
                "MaxTseTmcBuyFee": $('#TseEquityMaxTseTmcBuyFee').val(),
                "TseTmcBuyDiscount": SetValueFloatNumber($('#TseEquityTseTmcBuyDiscount').val()),
                "TseTmcSellFee": SetValueFloatNumber($('#TseEquityTseTmcSellFee').val()),
                "MaxTseTmcSellFee": $('#TseEquityMaxTseTmcSellFee').val(),
                "TseTmcSellDiscount": SetValueFloatNumber($('#TseEquityTseTmcSellDiscount').val()),

                "TseBuyFee": SetValueFloatNumber($('#TseEquityTseBuyFee').val()),
                "MaxTseBuyFee": $('#TseEquityMaxTseBuyFee').val(),
                "TseBuyFeeDiscount": SetValueFloatNumber($('#TseEquityTseBuyFeeDiscount').val()),
                "TseSellFee": SetValueFloatNumber($('#TseEquityTseSellFee').val()),
                "MaxTseSellFee": $('#TseEquityMaxTseSellFee').val(),
                "TseSellFeeDiscount": SetValueFloatNumber($('#TseEquityTseSellFeeDiscount').val()),

                "SellTax": SetValueFloatNumber($('#TseEquitySellTax').val())
            };


            $.ajax({
                url: '@Url.Action("SaveSetting", "TseEquityFeeSetting")',
                type: "POST",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                401: function() {
                    var url = '@Url.Action("Login", "Account")';
                    window.location.href = url;
                },
                error: function(response) {

                    showNotification(response.Message, 'e');
                },

                success: function(response) {

                    if (response != null && response.BRuleCode == '1000') {
                        showNotification(response.Message, 's');
                        $(':input', '#form')
                            .not(':button, :submit, :reset, :hidden')
                            .val('')
                            .removeAttr('checked')
                            .removeAttr('selected');

                        $('#grid').data('kendoGrid').dataSource.read();

                    } else {
                        showNotification(response.Message, 'e');
                    }
                }
            });
        }
    });


    function TseEquitygetSumSymbolTradeSettingList() {

        $('#TseEquitySumBuyFee').html(
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseEquityBrokerBuyFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseEquitySeoBuyFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseEquityCsdBuyFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseEquityTseTmcBuyFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseEquityTseBuyFee').val()).replace(",", "")));

        $('#TseEquitySumBuyFee').html(SetValueFloatNumber($('#TseEquitySumBuyFee').html()).toFixed(7));

        $('#TseEquitySumSellFee').html(
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseEquityBrokerSellFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseEquitySeoSellFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseEquityCsdSellFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseEquityTseTmcSellFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseEquityTseSellFee').val()).replace(",", "")) +
            SetValueFloatNumber(NullCheckerSTSLOMFB($('#TseEquitySellTax').val()).replace(",", "")));

        $('#TseEquitySumSellFee').html(SetValueFloatNumber($('#TseEquitySumSellFee').html()).toFixed(7));


      
    }
    document.onload = TseEquitygetSumSymbolTradeSettingList();

    $(document).ready(function () {
        //$('input:text').each(function() {
        //    $(this).html(NullCheckerSTSLOMFB($(this).html()));
        //});



        $.ajax({
            url: '@Url.Action("GetLastSetting", "TseEquityFeeSetting")',
            type: "POST",
            dataType: "json",
            //data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            401: function() {
                var url = '@Url.Action("Login", "Account")';
                window.location.href = url;
            },
            error: function(response) {

                showNotification(response.Message, 'e');
            },

            success: function(response) {

                if (response != null && response.BRuleCode == '1000') {
                    showNotification(response.Message, 's');
                    $(':input', '#form')
                        .not(':button, :submit, :reset, :hidden')
                        .val('')
                        .removeAttr('checked')
                        .removeAttr('selected');

                } else {

                    $('#TseEquityBrokerBuyFee').val(response.BrokerBuyFee);
                    $('#TseEquityMaxBrokerBuyFee').val(addcommas2(response.MaxBrokerBuyFee));
                    $('#TseEquityBrokerBuyFeeDiscount').val(response.BrokerBuyFeeDiscount);
                    $('#TseEquityBrokerSellFee').val(response.BrokerSellFee);
                    $('#TseEquityMaxBrokerSellFee').val(addcommas2(response.MaxBrokerSellFee));
                    $('#TseEquityBrokerSellFeeDiscount').val(response.BrokerSellFeeDiscount);

                    $('#TseEquitySeoBuyFee').val(response.SeoBuyFee);
                    $('#TseEquityMaxSeoBuyFee').val(addcommas2(response.MaxSeoBuyFee));
                    $('#TseEquitySeoBuyFeeDiscount').val(response.SeoBuyFeeDiscount);
                    $('#TseEquitySeoSellFee').val(response.SeoSellFee);
                    $('#TseEquityMaxSeoSellFee').val(addcommas2(response.MaxSeoSellFee));
                    $('#TseEquitySeoSellFeeDiscount').val(response.SeoSellFeeDiscount);

                    $('#TseEquityCsdBuyFee').val(response.CsdBuyFee);
                    $('#TseEquityMaxCsdBuyFee').val(addcommas2(response.MaxCsdBuyFee));
                    $('#TseEquityCsdBuyFeeDiscount').val(response.CsdBuyFeeDiscount);
                    $('#TseEquityCsdSellFee').val(response.CsdSellFee);
                    $('#TseEquityMaxCsdSellFee').val(addcommas2(response.MaxCsdSellFee));
                    $('#TseEquityCsdSellFeeDiscount').val(response.CsdSellFeeDiscount);

                    $('#TseEquityTseTmcBuyFee').val(response.TseTmcBuyFee);
                    $('#TseEquityMaxTseTmcBuyFee').val(addcommas2(response.MaxTseTmcBuyFee));
                    $('#TseEquityTseTmcBuyDiscount').val(response.TseTmcBuyDiscount);
                    $('#TseEquityTseTmcSellFee').val(response.TseTmcSellFee);
                    $('#TseEquityMaxTseTmcSellFee').val(addcommas2(response.MaxTseTmcSellFee));
                    $('#TseEquityTseTmcSellDiscount').val(response.TseTmcSellDiscount);


                    $('#TseEquityTseBuyFee').val(response.TseBuyFee);
                    $('#TseEquityMaxTseBuyFee').val(addcommas2(response.MaxTseBuyFee));
                    $('#TseEquityTseBuyFeeDiscount').val(response.TseBuyFeeDiscount);
                    $('#TseEquityTseSellFee').val(response.TseSellFee);
                    $('#TseEquityMaxTseSellFee').val(addcommas2(response.MaxTseSellFee));
                    $('#TseEquityTseSellFeeDiscount').val(response.TseSellFeeDiscount);

                    $('#TseEquitySellTax').val(response.SellTax);

                    TseEquitygetSumSymbolTradeSettingList();
                }
            }


        });

        $('input').keyup(function (e) {
            TseEquitygetSumSymbolTradeSettingList();
            e.stopPropagation();
        });
    });
</script>