@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.UI
@using IranMarketer.Domain.DTO
@using IranMarketer.Domain.Entity
@using CustodianSetting = IranMarketer.Domain.DTO.CustodianSetting
@using ProfitGuaranteeSetting = IranMarketer.Domain.DTO.ProfitGuaranteeSetting
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "تنظیمات کارمزد معاملات";
}

<div class="k-rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">تنظیمات کارمزد معاملات</h5>
                </div>
                <div class="panel-body">
                    @* ReSharper disable once UnknownCssClass *@
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
                            <li class="active"><a href="#highlighted-justified-tab1" data-toggle="tab" class="legitRipple" aria-expanded="true">سهام و حق تقدم بورسی</a></li>
                            <li class=""><a href="#highlighted-justified-tab2" data-toggle="tab" class="legitRipple" aria-expanded="false">سهام و حق تقدم فرابورسی</a></li>
                            <li class=""><a href="#highlighted-justified-tab3" data-toggle="tab" class="legitRipple" aria-expanded="false">اوراق با درآمد ثابت بورسی</a></li>
                            <li class=""><a href="#highlighted-justified-tab4" data-toggle="tab" class="legitRipple" aria-expanded="false">اوراق با درآمد ثابت فرابورسی</a></li>

                            @*<li class=""><a href="#highlighted-justified-tab2" data-toggle="tab" class="legitRipple" aria-expanded="false">ضامن نقد شوندگی</a></li>
                            <li class=""><a href="#highlighted-justified-tab6" data-toggle="tab" class="legitRipple" aria-expanded="false">بازار گردان</a></li>
                            <li class=""><a href="#highlighted-justified-tab7" data-toggle="tab" class="legitRipple" aria-expanded="false">متولی</a></li>
                            <li class=""><a href="#highlighted-justified-tab8" data-toggle="tab" class="legitRipple" aria-expanded="false">حسابرس</a></li>*@
                           


                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="highlighted-justified-tab1">
                                <!-- سهام و حق تقدم بورسی-->
                                @{
                                    Html.RenderPartial("_TseEquityFeeSetting");
                                }
                            </div>
                            <div class="tab-pane" id="highlighted-justified-tab2">
                                <!--سهام و حق تقدم فرابورسی-->
                                @{
                                    Html.RenderPartial("_IFBEquityFeeSetting");
                                }
                            </div>
                            <div class="tab-pane" id="highlighted-justified-tab3">
                                <!--اوراق بورسی-->
                                @{
                                    Html.RenderPartial("_TseBondFeeSetting");
                                }
                            </div>
                            <div class="tab-pane" id="highlighted-justified-tab4">
                                <!--اوراق فرابورسی-->
                                @{
                                    Html.RenderPartial("_IFBBondFeeSetting");
                                }
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }
</style>
<script type="text/javascript" src="~/assets/js/pages/form_validation.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/inputs/formatter.min.js"></script>

