<div class="navbar navbar-default navbar-fixed-bottom footer">
    <ul class="nav navbar-nav visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
    </ul>
    <div class="navbar-collapse collapse" id="footer">
        <div class="navbar-text">
            &copy; 2017. <a href="http://www.iranmarketer.com/" class="navbar-link">ایران مارکتر</a> <a href="" class="navbar-link" target="_blank"></a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="#">درباره</a></li>
                <li><a href="#">قوانین</a></li>
                <li><a href="#">ارتباط</a></li>
            </ul>
        </div>
    </div>
</div>


<!-- Second navbar -->

<!-- /second navbar -->
