@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.UI
@using IranMarketer.App.Component.Model
@using IranMarketer.Domain.Entity

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "فهرست شعب";
}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">فهرست شعب</h5>

    </div>
    @*<div class="panel-body">

        </div>*@
    <div class="panel-body">
        <div class="k-rtl">
            @(Html.Kendo().Grid<Branch>()
                                .Name("grid")
                                .Columns(columns =>
                                {
                                    columns.Bound(e => e.Title).Title("نام شعبه").Width(60).ClientTemplate("<a href='" + Url.Action("UpdateBranch", "Branch", new { Id = "#=Id#" }) + "'>#=Title#</a>").HtmlAttributes("id=RowClick");
                                    columns.Bound(e => e.Code).Width(50).Title("کد شعبه");
                                    columns.Bound(e => e.ManagerName).Width(50).Title("مدیر");
                                    columns.Bound(e => e.EnManagerName).Width(50).Title("نام انگلیسی مدیر");
                                    columns.Bound(e => e.Address).Width(120).Title("آدرس");
                                    columns.Bound(e => e.Tel).Width(50).Title("تلفن");
                                    columns.Bound(e => e.Fax).Width(50).Title("فکس");
                                    columns.Bound(e => e.BankName).Width(50).Title("بانک");

                                })
                                .Excel(excel => excel
               .FileName("BranchList.xlsx")
               .Filterable(true)
               .AllPages(true)

               .ForceProxy(true)

               .AllPages(true)
               .ProxyURL(Url.Action("CustomExcelReport", "Branch"))
                  )
                                .Sortable(sortable => sortable.AllowUnsort(false))

                                           .Pageable(pager => pager
                                           .Input(true)
                                           .Numeric(true)
                                           .Info(true)
                                           .PreviousNext(true)
                                           .Refresh(true)
                                           .PageSizes(new[] { 10, 20, 50, 100 }))
                                            .ToolBar(toolbar =>
                                            {
                                            toolbar.Template(@<text>
                <div class="toolbar" style="direction: ltr !important; ">

                    <div class="row pull-right ">
                        <div style="display: inline-block;">
                            <a class="pull-left k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>Excel</a>
                        </div>
                        <div class="" style="width: 400px; margin-right: 15px; display: inline-block;">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                <input type="text" class="form-control" id='FieldFilter' placeholder="جست و جو..." style="direction: rtl">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                                            </text>);
                                            })
                              .AllowCopy(true)
                              .Selectable()
                              .Scrollable()
                              .HtmlAttributes(new { style = "height:500px;" })
                              .DataSource(dataSource => dataSource
                                  .Ajax()
                                  .PageSize(20).Read(read => read.Action("GetBranches", "Branch"))
                              )
                              .Resizable(resize => resize.Columns(true))
                              .Reorderable(reorder => reorder.Columns(true)))

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#FieldFilter").keyup(function () {

            var value = $("#FieldFilter").val();
            var grids = $("#grid").data("kendoGrid");


            if (value) {
                //   grid.dataSource.filter({ field: "UserName", operator: "contains", value: value }, { field: "DisplayName", operator: "contains", value: value });
                grids.dataSource.filter([
                    {
                        "logic": "or",
                        "filters": [
                            {
                                "field": "ManagerName",
                                "operator": "contains",
                                "value": value
                            },
                            {
                                "field": "Code",
                                "operator": "contains",
                                "value": value
                            },
                            {
                                "field": "Title",
                                "operator": "contains",
                                "value": value
                            },
                            {
                                "field": "Address",
                                "operator": "contains",
                                "value": value
                            },
                            {
                                "field": "BankName",
                                "operator": "contains",
                                "value": value
                            }
                      
                        ]
                    }
                ]);

            } else {
                grids.dataSource.filter({});
            }
        });

    });





</script>