@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.Extensions
@using Kendo.Mvc.UI
@using Pikad.Framework.Infra.Utility
@using IranMarketer.App.Component.Model
@using RequestTransactionType = IranMarketer.Domain.Enum.RequestTransactionType
@model ChangePassword
@{
    ViewBag.Title = "تغییر رمز عبور";
}


<div class="k-rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">تغییر رمز عبور</h5>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group form-group-material">
                            <label>پسورد فعالی</label>
                            @Html.TextBoxFor(x => x.CurrentPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-material">
                            <label>پسورد جدید</label>
                            @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-material">
                            <label>تایید پسورد</label>
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }
</style>
