@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.UI

@{
    Layout = "../Shared/_LoginPartial.cshtml";
    ViewBag.Title = "فراموشی رمز عبور";
}
@model IranMarketer.App.Models.ForgotPasswordViewModel


<div class="page-container pb-20">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <form action="@Url.Action("ForgetPassword")" method="post">
                <div class="panel panel-body login-form">
                    n
                    <div class="text-center">
                        <div class="icon-object border-slate-300 text-slate-300">
                            <i class="icon-reading"></i>
                        </div>
                        <h5 class="content-group">سامانه مدیریت صندوق سرمایه گذاری <small class="display-block">درخواست بازیابی کلمه عبور</small></h5>
                    </div>
                    <div class="form-group has-feedback has-feedback-left">
                        <input type="text" class="form-control" placeholder="ایمیل" id="Email">
                        <div class="form-control-feedback">
                            <i class="icon-user text-muted"></i>
                        </div>
                    </div>
          
                    <div class="form-group">
                        <button type="button"  id="forgetPass"class="btn bg-blue btn-block" style="font-weight: bold; font-size: 16px">ارسال درخواست<i class="icon-arrow-left13 position-right"></i></button>
                    </div>

                    @*<span class="help-block text-center no-margin"><a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>*@
                </div>
            </form>
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>

@if (@ViewData["ErrorMessage"] != null)
{
<script>
    $(document).ready(function() {


        showNotification('@ViewData["ErrorMessage"]', 'e');


    });

</script>
}
<script>
    $("#forgetPass").click(function() {

        var data = {
            Email: $("#Email").val(),
            Address: document.location.host
    }

        $.ajax({
            url: "/Account/ForgetPassword",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
           
            error: function(response) {
                      
                 showNotification(response.Message, 'e');
            },

            success: function(response) {

                if (response != null && response.BRuleCode == '1000') {
                    
                    showNotification(response.Message, 's');
                } else {
                       showNotification(response.Message, 'e');
                }
            }
        });

    })

</script>